* {
    font-size: 23px;

}
#QuantityOfImg, #Today {
    display: inline;
    color: rgb(255, 0, 179);
}
.cover {
    width: 80vw;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
.cover div {
    width: 20%;
    min-width: 200px;
    height: 200px;
    margin: 20px;
    border: 5px solid darkgrey;
    border-radius: 50%;
}
.cover img {
    height: 200px;
    width: 100%;
    min-width: 200px;
    border-radius: 50%;
}
.cover > :nth-child(4n+1) {
    border: 5px solid red;
}
.cover img:hover {
    padding: 0;
    transform: rotate(45deg);
}
.cover div:hover {
    background-color: yellow;
    border: 5px solid yellow;
}
.cover button {
    position: relative;
    bottom: 40px;
    left: 180px;
    background: none;
    border: none;
    font-size: 20px;
    outline: none;
}

.cover button:hover {
    color: red;
}

.fullImg {
    position: fixed !important;
    width: 100vw !important;
    z-index: 100;
    height: 100vh !important;
    border-radius: 0% !important;
    border: none !important;
    left: 0;
    top: 0;
    margin: 0 !important;
    background-color: rgba(36, 36, 36, 0.418);

}
.fullImg img {
    position: relative;
    height: 80%;
    top: 10%;
    left: 9%;
    border-radius: 0%;
    width: 80%;
}
.fullImg img:hover {
    transform: none;
}
#closeGallery {
    position: absolute;
    left: 9%;
    top: 6%;
    height: 30px;
    background: white;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 5%;
}

.fullImg button:first-of-type {
    display: none;
}